.create_user{
 
    width: 50%;
    height: 100%;
    top: -1px;
    position: fixed;
    left: 0px;
    /* border:1px; */
    border-style: solid ;
    border-color: black;
    color: rgb(255, 255, 255, 1);
}

.font{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 200px;
    margin-bottom: 60px;
    letter-spacing: 0.32px;
    text-align: center;
    color: rgb(100, 100, 100, 1);
}
.bar{

    width: auto;
    margin-left: 30%;
    height: 40px;
    background-color: rgb(255, 255, 255, 1);
    margin-right: 30%;
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 25px;
    border-color: rgb(205, 205, 205, 1);
}

.content{
    display: flex;
    flex-direction: column;

}

.submit-button{
    width: auto;
    margin-left: 30%;
    height: 40px;
    background-color: rgb(5, 0, 255, 1);
    margin-right: 30%;
    margin-top: 20px;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255, 1);
    border: none;
    cursor: pointer;

}
.view_user {
    width: 50%;
    height: 100%;
    top: -1px;
    position: fixed;
    right: 0px;
    border: 1px solid black; 
    background: linear-gradient(180deg, rgba(5, 2, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#userList {
    list-style: none;
    padding: 0;
  }

  #userList li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }

.List {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

li {
    height: 40px;
}

